.navigation {
  padding: 1rem 0 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg);
  z-index: 8;

  width: 100%;
  min-height: calc(100vh - var(--header-height) - 0.25rem);
  transform: translate(calc(0rem - var(--nav-max-width)));
  transition: 0.3s;
  transition-property: max-width, transform;
  max-width: 0;

  &.--opened {
    transform: translate(0);
    max-width: var(--nav-max-width);
    font-size: inherit;
  }
}
