.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
  min-height: 2.5rem;

  &__children {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &.justify {
    &-space-between {
      justify-content: space-between;
    }

    &-start {
      justify-content: flex-start;
    }

    &-end {
      justify-content: flex-end;
    }

    &-center {
      justify-content: center;
    }
  }
}
