:root {
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --popup-background: rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 0px 5px var(--box-shadow-color);

  --block-border: 1px solid var(--gray-20);

  // APP
  --content-max-width: 84rem;

  // HEADER
  --header-bsh: 4px 0px 20px var(--box-shadow-color);

  --header-border: var(--block-border);
  --header-height: 5rem;

  // NAVIGATION
  --nav-width: 14rem;
  --nav-bg: var(--white);
}
