.select-options {
    position: relative;
    border-radius: 6px;
    background-color: #f9fafc;
    outline: none;
    width: 100%;

    &__no-options {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 48px;
        width: 100%;
        color: var(--gray-text-color);
        background-color: #f9fafc;
        text-align: center;
    }

    &__option {
        min-height: 32px;
        height: 32px;
        padding: 4px 12px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            background: var(--primary-10);
        }

        &.-selected {
            background: var(--primary-20);
            color: var(--white);
            cursor: default;
        }

        &.-focused {
            background: var(--primary-10);
        }
    }
}
